{% extends "base.html" %}

{% block title %}
Mood Details
{% endblock %}

{% block content %}

<a href="{{ url_for('home') }}" class="button-link">
    🏠 home
</a>

<h1>mood details</h1>

<p>
    date:

    {{ entry.formatted_date }}

    time:

    {{ entry.formatted_time }}
</p>

<p>
    <strong>mood:</strong>
    {{ entry.emoji }}
    {{ entry.mood_name }}
</p>

<p>
    <strong>note:</strong>
</p>

{% if entry.note %}

<p>
    {{ entry.note }}
</p>

{% else %}

<p>
    No note was entered.
</p>

{% endif %}


{% if entry.is_favorite %}

<form
    action="{{ url_for('remove_favorite', entry_id=entry.id) }}"
    method="POST"
>
    <button type="submit">
        ⭐ remove from favorites
    </button>
</form>

{% else %}

<form
    action="{{ url_for('add_favorite', entry_id=entry.id) }}"
    method="POST"
>
    <button type="submit">
        ☆ add to favorites
    </button>
</form>

{% endif %}

{% if analysis %}

<div
    id="analysis-modal"
    class="analysis-modal"
>
    <div class="analysis-modal-content">

        <h2>
            ✨ entry analysis ✨
        </h2>

        <p>
            Your entry appears to express:
        </p>

        <h3>
            {{ analysis }}
        </h3>

        {% if confidence %}
        <p>
            confidence:
            {{ confidence }}%
        </p>
        {% endif %}

        <h3>
            suggestion
        </h3>

        <p>
            {{ suggestion }}
        </p>

        <button
            type="button"
            id="close-analysis-button"
        >
            continue
        </button>

    </div>
</div>

{% endif %}

{% endblock %}