{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<a class="home-button" href="{{ url_for('create_entry') }}">
    <span class="button-icon">➕</span>
    <span>create mood entry</span>
</a>

<a class="home-button" href="{{ url_for('history') }}">
    <span class="button-icon">📖</span>
    <span>view mood history</span>
</a>

<a class="home-button" href="{{ url_for('favorites') }}">
    <span class="button-icon">⭐</span>
    <span>view favorites</span>
</a>

{% endblock %}
